
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h1>Te damos la Bienvenida al Banco BancoMex</h1>

<div class="row">
    <div id="divLeft" class="col-sm-4 text-justify">
        <h3>
            Con mayor frecuencia transacciones bancarias se realizan de forma remota,
            ya sea a través del equipo de computo o de apicaciones móviles. Por eso, utilizamos
            sistemas y protocolos de seguridad que protegen tus cuentas, tarjetas
            y toda tu información.
        </h3>
    </div>
    <div id="divRight">
        <div id="formDiv" class="row">
            <h2 class="center-block">Login</h2>
            <form id="frm">
                <div class="col-lg-6 col-lg-offset-3">
                    <label>
                        Número de cuenta:
                        <input type="text" name="No_cuenta" maxlength="8" onkeypress="return isNumberKey(event, this)" required />
                    </label>
                    <label>
                        Nip:
                        <span style="position: absolute; top: 45%; right: -14%" id="pass-status" class="fa fa-eye" aria-hidden="true" onClick="viewPassword()"></span>
                        <input type="password" id="nip" name="Nip" maxlength="4" onkeypress="return isNumberKey(event, this)" required />
                    </label>
                    <div class="text-center">
                        Eres nuevo? Registrate @Html.ActionLink("aquí", "CreateCliente", "Access")
                    </div>
                    <p></p>
                    <input type="submit" class="btn btn-primary center-block" value="Ingresar" style="" />
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-3" id="inicio">
        <h2>Seguridad</h2>
        <p class="text-justify">
            La combinación de usuario y clave protegen el área privada del sitio Internet,No solo es necesario
            saber cuáles son los datos más sensibles, los que nunca hay que comentar, sino qué alternativas
            ofrecen bancos para garantizar que las las transacciones sean seguras. La economía se dirige hacia
            la digitalización. Ofrecen alternativas de pagos online, inmediatos, dependientes tan solo de claves
            y autorizaciones; pero ¿cómo habituarse a las nuevas tecnologías sin sentir poner datos en peligro?
        </p>
    </div>
    <div class="col-sm-3" id="inicio">
        <h2>¿Cuáles son los fraudes más frecuentes?</h2>
        <h4>Pishing:</h4>
        <p class="text-justify">
            Se refiere a la suplantación de identidad en el que el ciberdelincuente se hace pasar por
            una persona o entidad para adquirir información de forma fraudulenta como contraseñas o información
            sobre tarjetas de crédito. Generalmente se comunican por medio de correo electrónico, invitando a la víctima
            a que se dirija a un sitio web falso de la entidad para robar sus datos.
        </p>
    </div>
    <div class="col-sm-3" id="inicio">
        <h2>Cómo evitarlo:</h2>
        <p class="text-justify">
            Digita tú mismo la dirección de la entidad bancaria y en caso de recibir llamadas sospechosas o correos electrónicos,
            comunícate con tu banco para confirmar la información. Evita dar datos por mensajes de texto y no creas en rifas
            o regalos. Si no has participado en ningún concurso, ¿por qué crees que vas a ganar algo de la nada? No abras páginas
            web desde mensajes sospechosos.
        </p>
    </div>
</div>

@section scripts{
    <script>
    $(document).ready(function(){

        $("#frm").submit(function (e) {

            e.preventDefault();

            url = "@Url.Content("~/Access/Enter")"
            parametros = $(this).serialize();

            $.post(url, parametros, function (data){

                if (data == "1") {
                    document.location.href = "@Url.Content("~/")";
                } else {
                    alert(data)
                }

            })

        })
    })
    </script>
}
<link href="~/CSS/Login.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
