
@{
    ViewBag.Title = "Retiro";
}

<h2>Retiro</h2>

@using (Html.BeginForm("Retiro", "Home", FormMethod.Post))
{
    <br />
    <span>Número de cuenta:</span> <p></p>
    <input type="text" value="@ViewBag.num" name="ide" disabled /><p></p>
    <span>Concepto:</span><p></p>
    <input type="text" name="sal" onkeypress="return isNumberKey(event, this)" /><p></p>
    <input type="submit" value="Confirmar" /><p></p>
    <br />
}