
@{
    ViewBag.Title = "Transferencia";
}

<h2>Transferencia</h2>

@using (Html.BeginForm("Transferencia", "Home", FormMethod.Post))
{
    <br />
    <span>Número de cuenta:</span> <p></p>
    <input type="text" value="@ViewBag.num" name="ide" disabled /><p></p>
    <span>Número de cuenta del beneficiario:</span> <p></p>
    <input type="text" name="ide2" onkeypress="return isNumberKey(event, this)" /><p></p>
    <span>Concepto:</span><p></p>
    <input type="text" name="sal" onkeypress="return isNumberKey(event, this)" /><p></p>
    <input type="submit" value="Confirmar" /><p></p>
    <br />
}